.deal {
    
}

.hand {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.holding {
    padding: 5px;
    margin-top: 3px;
    display: inline-flex;
}

.card {
    padding: 5px;
    border: solid dimgray 2px;
    border-radius: 5px;
    width: 50px;
    background-color: cornsilk;
    color: black;
    vertical-align: center;
    display: table-column;
}

.cardText {
    text-align: center;
    font-size: 20px;
}
